@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">            
            <li class="active"><i class="fa fa-star"></i>Grid</li>            
            <li><a href="@Url.Action("PivotDeputado")"><i class="fa fa-bar-chart-o"></i>Pivot</a></li>            
        </ol>
    </div>
</div>
<!-- Chama a Action GridClients do controller atual, o qual retornar uma parcial, ou seja, renderiza aqui a grid -->
@Html.Action("GridDeputados")
<div class="alert alert-info">Gráficos</div>
<div id="tabs">
<ul>
<li><a href="#tabs-1">Deputado por estado</a></li>
<li><a href="#tabs-2">Deputado por partido</a></li>
</ul>
<div id="tabs-1">@Html.Action("DeputadoPorEstado")</div>
<div id="tabs-2">@Html.Action("DeputadoPorPartido")</div>
</div>