@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@*<div class="row">
    @using (Html.BeginForm("LoadDeputados", "Deputado", FormMethod.Post))
    {    
        <input id="btnLoad" type="submit" class="btn btn-default btn-lg" value="Carregar" title="Carregar" />
    }
</div>
<br />*@
<!-- Chama a Action GridClients do controller atual, o qual retornar uma parcial, ou seja, renderiza aqui a grid -->
@Html.Action("GridDeputados")
<div class="alert alert-info">Gráficos</div>
<div id="tabs">
<ul>
<li><a href="#tabs-1">Deputado por estado</a></li>
<li><a href="#tabs-2">Deputado por partido</a></li>
</ul>
<div id="tabs-1">@Html.Action("DeputadoPorEstado")</div>
<div id="tabs-2">@Html.Action("DeputadoPorPartido")</div>
</div>