@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-star"></i>"Resources.Literals.lbl_anthropometric_measures"</li>
            <li class="active"><i class="fa fa-users"></i>"Resources.Literals.lbl_head_circumference"</li>
        </ol>
    </div>
</div>
@*@Html.Action("GridCotaParlamentar")*@

@section scripts{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="http://www.jbPivot.org/js/vendor/jbpivot.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var i = 0;
        $("#pivot1").jbPivot(
                {
                    fields: {
                        id: { field: 'id', sort: "asc", agregateType: "none" },
                        gender: { field: 'gender', sort: "asc", showAll: true, agregateType: "distinct", label: "Gender" },
                        age: { field: 'age', sort: "asc", age: "Age", showAll: true, agregateType: "distinct", label: "Age" },
                        state: { field: 'state', sort: "asc", showAll: false, agregateType: "distinct", label: "State" },
                        count: { agregateType: "count", groupType: "none", label: "Count" },
                        sum: { field: 'val', agregateType: "sum", groupType: "none", label: "Sum" },
                        average: {
                            field: 'val', agregateType: "average", groupType: "none", label: "Average", formatter: function (V, f) {
                                var res = null;
                                if (typeof (V) === "number") {
                                    res = V.toFixed(2);
                                }
                                return res;
                            }
                        }
                    },
                    xfields: ["gender", "age"],
                    yfields: ["state"],
                    zfields: ["sum", "average"],
                    data: [
                       { id: ++i, gender: "Man", age: "30-40", state: "NY", val: 8 },
                       { id: ++i, gender: "Man", age: "20-30", state: "CO", val: 7 },
                       { id: ++i, gender: "Man", age: "30-40", state: "NY", val: 3 },
                       { id: ++i, gender: "Woman", age: "40-50", state: "LA", val: 5 },
                       { id: ++i, gender: "Man", age: "30-40", state: "NE", val: 7 },
                       { id: ++i, gender: "Man", age: "30-40", state: "NE", val: 9 },
                       { id: ++i, gender: "Woman", age: "40-50", state: "LA", val: 8 },
                       { id: ++i, gender: "Woman", age: "50-60", state: "CL", val: 6 },
                       { id: ++i, gender: "Man", age: "30-40", state: "CO", val: 9 },
                       { id: ++i, gender: "Man", age: "40-50", state: "NY", val: 7 },
                       { id: ++i, gender: "Man", age: "30-40", state: "NJ", val: 4 },
                       { id: ++i, gender: "Man", age: "20-30", state: "NJ", val: 7 },
                       { id: ++i, gender: "Man", age: "30-40", state: "NY", val: 3 },
                       { id: ++i, gender: "Woman", age: "40-50", state: "LA", val: 5 },
                       { id: ++i, gender: "Man", age: "30-40", state: "NE", val: 7 },
                       { id: ++i, gender: "Man", age: "30-40", state: "NE", val: 9 },
                       { id: ++i, gender: "Woman", age: "40-50", state: "LA", val: 8 },
                       { id: ++i, gender: "Woman", age: "50-60", state: "NE", val: 6 },
                       { id: ++i, gender: "Man", age: "30-40", state: "CO", val: 9 },
                       { id: ++i, gender: "Man", age: "40-50", state: "NY", val: 7 },
                       { id: ++i, gender: "Woman", age: "30-40", state: "NY", val: 4 },
                       { id: ++i, gender: "Man", age: "20-30", state: "NJ", val: 2 },
                       { id: ++i, gender: "Man", age: "30-40", state: "CO", val: 9 },
                       { id: ++i, gender: "Man", age: "40-50", state: "NY", val: 7 },
                       { id: ++i, gender: "Woman", age: "30-40", state: "NY", val: 4 },
                       { id: ++i, gender: "Man", age: "20-30", state: "NJ", val: 2 },
                       { id: ++i, gender: "Man", age: "30-40", state: "NE", val: 9 },
                       { id: ++i, gender: "Woman", age: "40-50", state: "LA", val: 8 },
                       { id: ++i, gender: "Woman", age: "50-60", state: "CL", val: 6 },
                       { id: ++i, gender: "Man", age: "30-40", state: "CO", val: 9 }
                    ],
                    copyright: true,
                    summary: true,
                    l_all: "All",
                    l_unused_fields: "Available fields"
                }
        );
        $("#reload").click(function () {
            var i = 0;
            $("#pivot1").data('jbPivot').options.fields.Sum2 = { field: 'v', agregateType: "sum", groupType: "none", label: "New Sum" };
            $("#pivot1").data('jbPivot').reset();
            $("#pivot1").data('jbPivot').insertRecords([
               { id: ++i, gender: "Man", age: "30-40", state: "NJ", val: 8 },
               { id: ++i, gender: "Man", age: "20-30", state: "CO", val: 7 },
               { id: ++i, gender: "Man", age: "30-40", state: "CL", val: 3 },
               { id: ++i, gender: "Woman", age: "40-50", state: "LA", val: 5 },
               { id: ++i, gender: "Man", age: "30-40", state: "NY", val: 7 },
               { id: ++i, gender: "Man", age: "30-40", state: "NY", val: 9 },
               { id: ++i, gender: "Woman", age: "40-50", state: "CO", val: 8 },
            ]);
        });
    });
</script>
}
@section css{
<link rel="stylesheet" href="http://www.jbPivot.org/css/jbpivot.min.css">

<style>
    body
    {
        padding: 30px;
    }
</style>

}

<div class="row">
    <div class="col-lg-12">
        <div id="pivot1"></div>
        <a id="reload" href="#">reload</a>
    </div>
</div>
