@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">            
            <li class="active"><i class="fa fa-star"></i>Grid</li>            
            <li><a href="@Url.Action("PivotCotaParlamentar")"><i class="fa fa-bar-chart-o"></i>Pivot</a></li>            
        </ol>
    </div>
</div>
@Html.Action("GridCotaParlamentar")

<div class="alert alert-info">Gráficos</div>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Ranking dos que menos gastam (10 Dep.)</a></li>
        <li><a href="#tabs-2">Ranking dos que mais gastam (10 Dep.)</a></li>
    </ul>
    <div id="tabs-1">@Html.Action("CotaMenor")</div>
    <div id="tabs-2">@Html.Action("CotaMaior")</div>
</div>