<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="RamsesDBEntities"
        connectionString="metadata=res://*/RamsesModel.csdl|res://*/RamsesModel.ssdl|res://*/RamsesModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=C:\Users\jackson.lima\Source\Repos\Ramses\Ramses.Data\RamsesDB.sdf&quot;"
        providerName="System.Data.EntityClient"
    />
  </connectionStrings>
</configuration>